.wrap-box {
    background-color: var(--dark-accent-color);
    margin-top: 40px;
    border-radius: 20px;
    height: 100%;
    padding: 20px;
}

.object-link {
    background-color: transparent;
    padding: 5px 15px;
    color: white;
    transition: background-color 0.5s;
    border-radius: 10px;
}

.object-link:hover {
    background-color: var(--light-accent-color);
    transition: background-color 0.5s;
}

.education-item {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: white 1px solid;
    padding: 5px;
}

.info-msg:empty {
    display: none;
}

.info-msg:not(:empty) {
    display: block;
}

.info-msg {
    background: var(--dark-accent-color);
    color: var(--light-accent-color);
    padding: 10px 20px;
    border-radius: 10px;
    width: fit-content;
}

.edu-form {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

.edu-form input {
    width: 70%;

    font-size: 16px;
    color: #fff;

    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.edu-form label {
    min-width: max-content;
    font-size: 16px;
    color: #fff;
    margin-right: 20px;
}

.edu-form .form-item {

    width: 60%;
    display: flex;
    margin-bottom: 20px;
    align-items: flex-end;
}

.edu-form button{
    width: fit-content;
}



.semester-item h3{
    color: white;
    font-size: 24px;
}
.semester-name{
    color: white;
}
.types-wrap{
    display: flex;

}
.type-wrap:first-child{
    margin-right: 30px;

}

.subject-body{
    background-color: var(--light-accent-color);
    color: #0c0b16;
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 10px 1px #322c47;
}
.subject-body a{
    border-radius: 10px;
    padding: 5px 15px;
    display: block;
    background-color: transparent;
    transition: background-color 0.5s;
}
.subject-body a:hover{
    background-color: var(--main-bg-color);
    transition: background-color 0.5s;
}
.type-wrap{
    width: calc(50% - 35px);

}
.types-wrap li{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.type-wrap ul li:not(:last-child){
    margin-bottom: 10px;
}
.type-wrap{

}
.btn{
    border-color: white ;
    background-color: var(--dark-accent-color);

}
